node_modules
dist
build
.env
.DS_Store
*.log
coverage
*.sqlite
/.idea
/.vscode
**/npm-debug.log*
**/yarn-error.log*
frontend/.vite
backend/.eslintcache
backend/package-lock.json
frontend/package-lock.json





